/* Fonts - Montserrat(h) & Rubik(p) */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,400&family=Rubik:wght@400;500&display=swap");

/* General & reset */
:root {
  --anccent-color: #df061b;
  --secondary-text-color: #b1b1b1;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
h1 {
  margin-bottom: 2px;
}
section {
  text-align: center;
}

p {
  color: var(--secondary-text-color);
  margin: 0px auto 5px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}

button {
  width: 100%;
  max-width: 200px;
  height: 40px;
  margin: 20px auto 0;
  background: #f5f5f5;
  border: none;
  border-radius: 20px;
  font-family: inherit;
  cursor: pointer;
}

button:hover {
  -webkit-box-shadow: inset 1px 2px 3px 0px #00000038;
  box-shadow: inset 1px 2px 3px 0px #00000038;
}
button:focus:not(button:focus-visible) {
  outline: none;
}
/* End general & reset */

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  height: 120px;
  background: url("../img/card-background.jpg");
  background-size: contain;
}
.logo {
  height: 100%;
  padding: 10px;
}
.logo img {
  height: 100%;
  width: auto;
}
p.sub-heading {
  text-align: center;
  color: #757575;
}
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
.substitution-box {
  position: fixed;
  top: 12vh;
  right: -250px;
  width: 250px;
  pointer-events: none;
  -webkit-transition: right 1s;
  -o-transition: right 1s;
  transition: right 1s;
}
.substitution-box::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: -60px;
  border-radius: 10px 0 0 10px;
  -webkit-transform: translateY(-50%) rotateY(0deg);
  transform: translateY(-50%) rotateY(0deg);
  background: whitesmoke url(../img/player-change.png) no-repeat center;
  cursor: pointer;
  pointer-events: all;
}
.substitution-box > img {
  width: auto;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.substitution-box .in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: whitesmoke;
  border-radius: 20px 0px 0px 0px;
}
.substitution-box .out {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: white;
  background-color: #770a0e;
  border-radius: 0px 0px 0px 20px;
}
.substitution-box p {
  all: revert;
  text-align: center;
}
.substitution-box .out::after,
.substitution-box .in::after {
  display: block;
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 15px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}
.substitution-box .out::after {
  border-right: 20px solid #c31b2b;
}
.substitution-box .in::after {
  border-left: 20px solid #1ad038;
}
.substitution-timer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 20px;
}
.progressbar {
  width: 100%;
  max-width: 200px;
  margin: auto;
  border: solid 1px #c8c8c8;
  border-radius: 20px;
  overflow: hidden;
}
.progressbar .inner {
  height: 15px;
  -webkit-animation: progressbar-countdown 60s linear infinite;
  animation: progressbar-countdown 60s linear infinite;
}
@-webkit-keyframes progressbar-countdown {
  0% {
    width: 100%;
    background: #0f0;
  }
  100% {
    width: 0%;
    background: #f00;
  }
}
@keyframes progressbar-countdown {
  0% {
    width: 100%;
    background: #0f0;
  }
  100% {
    width: 0%;
    background: #f00;
  }
}
.player-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 24%;
  padding: 20px;
  margin: 0.5%;
  color: #caaaaa;
  background: url("../img/card-background.jpg");
  -webkit-box-shadow: 1px 1px 9px 0px #00000082;
  box-shadow: 1px 1px 9px 0px #00000082;
  border-radius: 20px;
  white-space: nowrap;
}
.player-card img {
  width: 100px;
  height: auto;
  -webkit-box-shadow: inset 0px 0px 20px 20px #450102;
  box-shadow: inset 0px 0px 20px 20px #450102;
  border-radius: 20px;
}
.player-card ul {
  margin-top: 1rem;
}
.player-card ul li {
  line-height: 1.5em;
}
.player-card .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 10px;
}
.red-border {
  -webkit-box-shadow: 0px 0px 5px 5px #d61f1f5c, 1px 1px 9px 0px #00000082;
  box-shadow: 0px 0px 5px 5px #d61f1f5c, 1px 1px 9px 0px #00000082;
}
.green-border {
  -webkit-box-shadow: 0px 0px 5px 5px #1fd63d5c, 1px 1px 9px 0px #00000082;
  box-shadow: 0px 0px 5px 5px #1fd63d5c, 1px 1px 9px 0px #00000082;
}
@media only screen and (max-width: 800px) {
  .player-card {
    width: 32%;
  }
}
@media only screen and (max-width: 700px) {
  .player-card {
    width: 49%;
  }
}
@media only screen and (max-width: 450px) {
  .player-card {
    width: 99%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .player-card img {
    width: 90px;
  }
}
